.show {
  display: flex !important; }

.hide {
  display: none; }

.scroll-lock {
  height: 100%;
  margin: 0;
  overflow: hidden; }

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  text-align: center; }

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 86rem;
  padding: 1rem;
  position: relative;
  z-index: 3; }
  .navigation__cv {
    display: none; }
    @media only screen and (min-width: 1400px) {
      .navigation__cv {
        display: block;
        border-radius: 0.5rem;
        border: 2px solid lightblue;
        color: black;
        padding: 0.5rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.4s ease 0s; }
        .navigation__cv:hover {
          background: lightblue;
          border-color: lightblue;
          color: black;
          transition: all 0.4s ease 0s; } }
  .navigation__logo {
    font-size: 1rem;
    font-weight: bold; }
  .navigation__burger {
    cursor: pointer;
    height: 1rem;
    height: 1rem;
    width: 1.5rem; }
    @media only screen and (min-width: 1400px) {
      .navigation__burger {
        display: none; } }
  .navigation__links {
    align-items: center;
    background-color: lightblue;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 4rem;
    width: 80%; }
    @media only screen and (min-width: 1400px) {
      .navigation__links {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: static; } }
    .navigation__links__link {
      list-style: none; }
      .navigation__links__link > a {
        text-decoration: none;
        color: black; }
  .navigation__overlay {
    background-color: gray;
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 3rem;
    width: 100%;
    z-index: -1; }

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem; }
  .about__list {
    column-count: 2;
    column-gap: 5rem;
    text-align: left; }
  .about__avatar {
    height: 15rem; }

.work {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding: 1rem; }
  .work__cards-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem; }
  .footer__social-links {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem; }
  .footer__social-link {
    display: inline-block;
    border: 3px solid lightblue;
    color: lightblue;
    padding: 1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    font-size: 2rem;
    cursor: pointer; }
    .footer__social-link:hover {
      color: black;
      background: lightblue; }

.card {
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: box-shadow 0.2s;
  width: auto; }
  @media only screen and (min-width: 768px) {
    .card {
      width: 20rem; } }
  @media only screen and (min-width: 1400px) {
    .card {
      width: 25rem; } }
  .card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); }
  .card__img {
    width: 100%;
    z-index: -1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  .card__description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .card__description__tech {
      color: #707070; }
    .card__description__button {
      border-radius: 0.5rem;
      border: 2px solid lightblue;
      color: skyblue;
      padding: 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.4s ease 0s; }
      .card__description__button:hover {
        color: black;
        background: lightblue;
        border-color: lightblue;
        transition: all 0.4s ease 0s; }
    .card__description__buttons-box {
      padding: 1rem;
      display: flex;
      gap: 1rem; }

body {
  font-family: 'Roboto Mono', monospace; }

span {
  padding: 0 10px;
  box-shadow: inset 0 -15px 0 0 lightblue; }

h3 {
  padding: 1rem;
  background-color: lightblue;
  text-transform: uppercase;
  margin-bottom: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow-x: hidden !important; }
