.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

    &__social-links {
        display: flex;
        gap: 2rem;
        margin-bottom: 5rem;
    }

    &__social-link {
        display: inline-block;
        border: 3px solid $lightblue;
        color: $lightblue;
        padding: 1rem;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            color: $black;
            background: $lightblue;
        }
    }
}