.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 86rem;
    padding: 1rem;
    position: relative;
    z-index: 3;

    &__cv {
        display: none;

        @include respond(desktop) {
            display: block;
            border-radius: 0.5rem;
            border: 2px solid $lightblue;
            color: $black;
            padding: 0.5rem;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s ease 0s;

            &:hover {
                background: $lightblue;
                border-color: $lightblue;
                color: black;
                transition: all 0.4s ease 0s;
            }
        }
    }

    &__logo {
        font-size: 1rem;
        font-weight: bold;
    }

    &__burger {
        cursor: pointer;
        height: 1rem;
        height: 1rem;
        width: 1.5rem;

        @include respond(desktop) {
            display: none;
        }
    }

    &__links {
        align-items: center;
        background-color: lightblue;
        border-radius: 1rem;
        display: none; // toggle this
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        left:0;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        position: absolute;
        right:0;
        top: 4rem;
        width: 80%;

        @include respond(desktop) {
            background-color: $white;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            position: static;
        }

        &__link {
            list-style: none;

            > a {
                text-decoration: none;
                color: black;
            }
        }
    }

    &__overlay {
        background-color: gray;
        display: none;
        height: 100vh;
        left: 0;
        opacity: 0.9;
        position: absolute;
        top: 3rem;
        width: 100%;
        z-index: -1;
    }
}