* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
	min-height: 100%;
	color: #000;
}

.logo {
    font-size: 22px;
}

span {
    padding: 0 10px;
    box-shadow: inset 0 -15px 0 0 lightblue;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto Mono', monospace;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav-links li {
    list-style: none;
}

.nav-active {
    transform: translateX(0%);
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}


/*Banner*/

.banner {
    font-family: 'Roboto Mono', monospace;
}

.banner h1 {
    font-size: 50px; 
    padding: 15px;
}

.banner h2 {
    font-size: 40px; 
    padding: 15px
}

.banner p {
    font-size: 25px; 
    padding: 15px
}

.banner-text {
    width: 50%;
    margin: auto;
}

/*About*/

.about-me {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding-top: 70px;
}

.about-me-title {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
}

.tech-list {
    columns: 2;
    list-style-type: circle;
}

mark {
    background-color: lightblue;
    padding: 10px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


  

@media screen and (max-width:1024px) {
    .nav-links {
        width: 40%;
    }

    .banner-text {
        width: 80%;
    }

    .about-me-info {
        width: 80%;
    }
}

@media screen and (max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%); /* moves the nav off the screen, overflow-x hidden stop vertical scrolling */
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .banner {
        display: grid;
        justify-content: space-around;
        align-items: center;
    }

    .about-me-info {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        font-size: 15px;
    }

    .about-me-info img {
        height: 200px;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 25px;
    }
    .banner-text h2 {
        font-size: 20px;
    }
    .banner-text p {
        font-size: 15px;
    }
}



