* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	min-height: 100%;
	color: #000;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    font-size: 22px;
}

span {
    padding: 0 10px;
    box-shadow: inset 0 -15px 0 0 lightblue;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto Mono', monospace;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav-links li {
    list-style: none;
}

.nav-active {
    transform: translateX(0%);
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.banner {
    font-family: 'Roboto Mono', monospace;
}

.banner h1 {
    font-size: 50px;
    padding: 15px;
}

.banner h2 {
    font-size: 40px;
    padding: 15px
}

.banner p {
    font-size: 25px;
    padding: 15px
}

.banner-text {
    width: 50%;
    margin: auto;
}

.about-me {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding-top: 70px;
}

.section-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}

.about-me-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
}

.tech-list {
    columns: 2;
    list-style-type: circle;

}

.my-work {
    padding-top: 25px;
}

.card-holder {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    font-family: 'Roboto Mono', monospace;
    margin: 25px;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.button-container {
    position: absolute;
    bottom: 0;
    left: 10px;
    min-height: 40px;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-info {
    padding: 2px 16px;
    padding-bottom: 60px;
}

.card-info h2 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-info .technologies {
    color: #6f6f6f;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-info .project-description {
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-img {
    height: 21.875rem;
    padding: 1rem;
}

.link-button {
	color: skyblue !important;
    font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 5px;
	border: 4px solid skyblue !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-button:hover {
	color: black !important;
	background: skyblue;
	border-color: skyblue !important;
	transition: all 0.4s ease 0s;
}

.contact-me {
    padding-top: 30px;
}

.social-links {
    display: flex;
    justify-content: center;

}

.social-link-button {
    display: inline-block;
    text-decoration: none;
    background: white;
    color: skyblue;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 3px solid skyblue;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    margin: 10px;
  }

.social-link-button:hover{
    background: skyblue;
    color: black;
}

.finisher {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

mark {
    background-color: lightblue;
    padding: 10px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.spacer {
    width: 200px;
    height: 25px;
    margin-right:0px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 40%;
    }

    .banner-text {
        width: 80%;
    }

    .about-me-info {
        width: 80%;
    }

    .card-holder {
        justify-content: space-around;
    }

    .card {
        width: 80%;
        min-height: 530px;
    }
}

@media screen and (max-width:700px) {
    html,body {
        overflow-x: hidden;
        position: relative;
    }

    .logo {
        font-size: 12px;
    }

    .banner .banner-text {
        text-align: center;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%); /* moves the nav off the screen, overflow-x hidden stop vertical scrolling */
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .banner {
        display: grid;
        justify-content: space-around;
        align-items: center;
    }

    .about-me-info {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        font-size: 15px;
    }

    .about-me-info img {
        height: 200px;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h1 {
        font-size: 25px;
    }
    .banner-text h2 {
        font-size: 20px;
    }
    .banner-text p {
        font-size: 15px;
    }

    .card-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 35px;
        padding-right: 35px;
    }

    .card {
        width: 100%;
        font-size: 15px;
        min-height: 450px;
    }

    .card-info {
        padding-bottom: 30px;
    }

    .card-img {
        height: auto;
    }

    .finisher {
        font-size: 12px;
    }
}



